@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:wght@300;400;600;800&display=swap");
@import url("https://cdn.plyr.io/3.6.9/plyr.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.video-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

/* Utilities */

.jc_end {
    display: flex;
    justify-content: flex-end;
    margin-right: 7rem;
}

.container {
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
}

.video-player-grid {
    display: grid;
    grid-template-columns: 7fr 3fr;
    justify-items: stretch;
}

.btn {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.8rem 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background: rgb(39, 39, 39);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn-smol {
    margin: 0.2rem 0.5rem;
    padding: 0.5rem 0.5rem;
}

.btn-blue {
    background: rgb(69, 212, 255);
}

.btn-red {
    background: rgb(255, 70, 70);
}

.current {
    border-color: rgb(255, 255, 255);
}

/* Media Queries */

@media (max-width: 1328px) {
    .video-grid {
        display: grid;
        grid-template-columns: repeat(2, 0.7fr);
    }
}

@media (max-width: 880px) {
    .video-grid {
        display: grid;
        grid-template-columns: repeat(1, 0.7fr);
    }
    .video-player-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .jc_end {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

@media (min-width: 1250px) {
    .container {
        justify-content: center;
    }
}
